@model Bertoni.Web.Models.AlbumsViewModel;
@{
    ViewData["Title"] = "Albums";
}

<div class="text-center">
    <h1>Seleccione un album:</h1>
    <form asp-controller="Home" asp-action="Index" method="post">
        <select class="form-control" asp-for="AlbumId" asp-items="Model.Albums"></select>
        <br /><button class="btn btn-primary" type="submit">Visualizar Album</button>
    </form>
</div>